@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
* {padding: 0;margin: 0;}
a {text-decoration: none;}
div {box-sizing: border-box;}
input, button {outline: none; border: none; cursor: pointer;}
ul {list-style: none;}
@mixin roboto ($weight, $size, $lheight, $space, $color) {
    font-family: Roboto;
    font-style: normal;
    font-weight: $weight;
    font-size: $size;
    line-height: $lheight;
    letter-spacing: $space;
    color: $color;
}
%button {
    width: 274px;
    height: 72px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    background: #F5FF93;
    border-radius: 36px;
    transition: .2s;
    @include roboto(bold, 18px, 24px, 0px, #191919);
    &:hover {
        background: #415AFF;;
        color: #FFFFFF;
        transform: scale(1.05);
    }
    &:focus {
        background: #415AFF;;
        color: #FFFFFF;
    }
    &:hover {
        background: #415AFF;;
        color: #FFFFFF;
    }
}
@mixin mobile($dis, $justcont, $fwrap) {
    display: $dis;
    justify-content: $justcont;
    flex-wrap: $fwrap;
}
@mixin keyframes($name) {
    @keyframes #{$name} {
        0% {
            opacity: 0%;
            margin-left: -100%;
        }
        35% {
            margin-left: 0%;
        }
        50% {
            margin-left: -10%;
        }
        70% {
            margin-left: 0%;
        }
        85% {
            margin-left: -5%;
        }
        100% {
            opacity: 1;
            margin-left: 0%;
        }
    }
}

header {
    align-items: center;
    @include mobile(flex, start, wrap);
    margin-top: 25px;
    margin-left: 32px;
    margin-bottom: 80px;
    .logo {
        margin-right: 48px;
        transition: .5s;
        &:hover {
            transform: scale(1.1);
        }
    }
}
.menu {
    max-width: 382px;
    width: 100%;

    ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
    }
    a {
        @include roboto(normal, 16px, 80px, normal, #191919);
        transition: .3s;
        &:hover {
            color: #415AFF;
            font-weight: bold;
            font-size: 18px;
        }
    }
}
.start {
    display: flex;
    justify-content: space-around;
    margin-bottom: 96px;
    &-left {
        min-width: 300px;
    }
    &-right {
        min-width: 300px;
        cursor: pointer;
        img {
            width: 100%;
        }
        &:hover {
            animation: right_img 3s infinite;
            @keyframes right_img {
                0% {
                    opacity: 0;
                }
                20% {
                    opacity: 1;
                }
                40% {
                    opacity: 0;
                    transform: scale(1.1) rotate(5deg);
                }
                60% {
                    opacity: 1;
                }
                80% {
                    opacity: 0;
                    transform: scale(0.8) rotate(-5deg);
                }
                90% {
                    opacity: 1;
                }
                100% {
                    opacity: 0;
                }
            }
        }
    }
    &-left__title {
        @include roboto(normal, 55px, 68px, 1.8px, #212529);
        margin-bottom: 47px;
        animation: start_title 1s forwards;
        transition: .5s;
        transition-timing-function: ease-out;
        @include keyframes(start_title);
    }
    &-left__par {
        @include roboto(normal, 20px, 28px, normal, #191919);
        margin-bottom: 30px;
        animation: start_par 1s forwards;
        animation-delay: .3s; 
        opacity: 0;
        @include keyframes(start_par);
    }
    &-email {
        display: flex;
        animation: start_email 1s forwards;
        animation-delay: .5s; 
        opacity: 0;
        @include keyframes(start_email);
    }
    &-email-left {
        width: 300px;
        height: 78px;
        padding-left: 25px;
        background: #FFFFFF;
        border: 1px solid #E3E7E2;
        border-radius: 100px 0px 0px 100px;
    }
    &-email-right {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 208px;
        height: 80px;
        background: #415AFF;
        border: 2px solid #415AFF;
        border-radius: 0px 100px 100px 0px;
        transition: .2s;
        @include roboto(normal, 18px,24px, 0px, #FFFFFF);
        img {
            margin-left: 5px;
        }
        &:focus {
            background: #e00909;
            border: 1px solid #E3E7E2;
        }
        &:hover {
            background: #e00909;
            border: 1px solid #E3E7E2;
        }
    }
    &-left__subtext {
        @include roboto(normal, 13px, 24px, 0px, #8D9499);
        margin-top: 8px;
        animation: start_subtext 1s forwards;
        opacity: 0;
        animation-delay: .5s; 
        @include keyframes(start_subtext);
    }
}
.example {
    margin: auto;
    max-width: 686px;
    &-title {
        @include roboto(bold, 16px, 24px, 2px, #212529);
        text-transform: uppercase;
        margin-bottom: 21px;
    }
    &-box {
        display: flex;
        justify-content: space-between;
    }
    &-right {
        width: 300px;
        &__text {
            @include roboto(normal, 21px, 40px, 1.5px, #44464D);
            margin-bottom: 21px;
            margin-left: 5px;
        }
    }
    &-left {
        width: 300px;
        &__text {
            @include roboto(normal, 21px, 40px, 1.5px, #44464D);
            margin-bottom: 21px;
            margin-left: 5px;
        }
    }
    @media (max-width: 624px) {
        margin-left: 30px;
        &-right {
            margin-bottom: 50px;
        }
    }
}
.featured {
    &-title {
        @include roboto(bold, 16px, 24px, 2px, #212529);
        text-align: center;
        text-transform: uppercase;
        margin-top: 60px;
        margin-bottom: 24px;
    }
    &-box {
        max-width: 1024px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: 104px;
    }
}
.block {
    display: flex;
    margin-bottom: 81px;
    &-left {
        float: left;
        max-width: 600px;
        img {
            width: 100%;
        }
    }
    &-right {
        &-title {
            @include roboto(bold, 16px, 24px, 2px, #212529);
            text-transform: uppercase;
            margin-top: 80px;
            margin-bottom: 8px;
        }
        &-text {
            @include roboto(bold, 32px, 40px, 0px, #212529);
            margin-bottom: 29px;
        }
        &-maintext {
            @include roboto(bold, 56px, 72px, 2.25px, #212529);
            margin-bottom: 99px;
        }
        &-btn {
            @extend %button;
        }
    }
}
.custom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 117px;
    &-left {
        margin-left: 8%;
        &-title {
            @include roboto(bold, 16px, 24px, 2px, #212529);
            text-transform: uppercase;
            margin-top: 80px;
            margin-bottom: 8px;
        }
        &-text {
            @include roboto(bold, 32px, 40px, 0px, #212529);
            margin-bottom: 29px;
        }
        &-maintext {
            @include roboto(bold, 56px, 72px, 2.25px, #212529);
            margin-bottom: 99px;
        }
        &-btn {
            @extend %button;
        }
    }
    &-right {
        float: right;
        max-width: 600px;
        img {
            width: 100%;
        }
    }
}
.join {
    width: 100%;
    text-align: center;
    margin-bottom: 146px;
    &-title {
        @include roboto(bold, 64px, 72px, 2.25px, #212529);
        margin-bottom: 51px;
    }
    &-email {
        justify-content: center;
    }
}
.created {
    width: 100%;
    display: flex;
    justify-content: space-around;
    &-left {
        max-width: 600px;
        &-text {
            @include roboto(bold, 32px, 40px, 0px, #212529);
            margin-bottom: 29px;
            margin-top: 150px;
        }
        &-title {
            @include roboto(bold, 57px, 72px, 2.25px, #212529);
            margin-bottom: 43px;
        }
        &-btn {
            @extend %button;
        }
    }
    &-right {
        max-width: 600px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        &-block {
            width: 40%;
            height: 366px;
            margin-right: 10px;
            margin-bottom: 31px;
            margin-top: 31px;
            &-name {
                @include roboto(normal, 24px, 32px, 0px, #212529);
                margin-top: 17px;
                margin-bottom: 5px;
                max-width: 190px;
            }
            &-prof {
                @include roboto(normal, 20px, 28px, 0px, #212529);
                max-width: 190px;
            }
        }
    }
}
.review {
    width: 100%;
    margin-bottom: 195px;
    &-title {
        @include roboto(normal, 26px, 40px, 1.5px, #212529);
        margin-bottom: 56px;
        margin-left: 44px;
    }
    &-box {
        width: 94%;
        display: flex;
        justify-content: space-between;
        margin-left: 44px;
        &-card {
            width: 24%;
            min-width: 263px;
            height: 316px;
            background: #FFFFFF;
            box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.12);
            border-radius: 16px;
            padding: 46px;
            position: relative;
            &-text {
                @include roboto(normal, 20px, 28px, 0px, #212529);
            }
            &-name {
                @include roboto(normal, 12px, 20px, 1.5px, #212529);
                position: absolute;
                bottom: 44px;
                text-transform: uppercase;
            }
            span {
                color: #737980;
            }
            img {
                position: absolute;
                bottom: 62px;
            }
        }
    }
}
.pay {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 48px;
    &-left {
        &-title {
            @include roboto(normal, 55px, 68px, 1.8px, #212529);
            margin-bottom: 61px;
        }
    }
    &-right img {
        width: 100%;
    }
}
footer {
    display: flex;
    padding: 48px 38px;
    border-top: 1px solid #E8E8E8;
    position: relative;
    overflow: hidden;
    .footer-menu {
        width: 266px;
    }
    .footer-menu-text {
        @include roboto(bold, 14px, 24px, 0px,  #191919);
        margin-left: 57px;
        margin-right: 57px;
        margin-top: 10px;
    }
    .footer-menu li {
        margin-top: 10px;
    }
    .footer-social {
        position: absolute;
        display: flex;
        justify-content: center;
        top: 48px;
        right: 38px;
        &-img {
            margin-left: 16px;
            margin-right: 16px;
        }
    }
    .footer-author {
        position: absolute;
        bottom: 30px;
        right: 104px;
        @include roboto(normal, 14px, 24px, 0px, #191919);
        text-align: center;
    }
    &:after {
        content: url('../img/footer-line.png');
        width: 100%;
        position: absolute;
        bottom: 0px;
        left: 0px;
    }
}
@media (max-width: 1200px) {
    .start {
        @include mobile(flex, start, wrap);
        margin-left: 50px;
        &-left {
            margin-bottom: 80px;
        }
    }
    .block {
        @include mobile(flex, start, wrap);
        &-right {
            margin-left: 50px;
        }
    }
    .custom {
        @include mobile(flex, start, wrap);
        position: relative;
        &-right {
            margin-left: 60%;
        }
    }
    .review-box-card-text {
        font-size: 15px;
        line-height: 20px;
    }
    .pay {
        @include mobile(flex, start, wrap); 
        &-left {
            margin-left: 50px;
        }
        &-left {
            margin-bottom: 80px;
        }
    }
    .review-box {
        @include mobile(flex, start, wrap);
        &-card {
            margin-left: 50px;
            margin-bottom: 50px;
        }
    }
    .created {
        @include mobile(flex, space-around, wrap);
        &-left {
            min-width: 320px;
            margin-right: 40px;
            margin-left: 50px;
        }
        &-right {
            min-width: 320px;
        }
    }
}
@media (max-width: 1042px) {
    .created {
        @include mobile(flex, start, wrap);
        &-right {
            margin-left: 50px;
            margin-top: 50px;
        }
        &-right-block {
            @include mobile(flex, center, wrap);
        }
    }
}
@media (max-width: 900px) {
    .featured-box {
        @include mobile(flex, center, wrap);
        img {
            margin-left: 20px;
            margin-bottom: 20px;
        }
    }
    .join-title {
        margin-left: 10px;
        margin-right: 10px;
    }
    .start-left__par, .start-left__title {
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media (max-width: 740px) {
    footer {
        @include mobile(flex, center, wrap);
    }
    footer .footer-author {
        position: static;
        margin-top: 50px;
    }
    footer .footer-social {
        position: static;
        margin-top: 50px;
        width: 100%;
    }
    .footer-logo {
        padding-right: 50%;
        padding-left: 50%;
        margin-bottom: 50px;
    }
}
@media (max-width: 700px) {
    .example {
        &-title {
            margin-left: 40px;
        }
        &-box {
            @include mobile(flex, center, wrap);
            .example-right {
                margin-right: 40px;
            }
        }
    }
}
@media (max-width: 650px) {
    .start-email-left {
        max-width: 200px;
    }
    .start-email-right {
        max-width: 208px;
    }
}
@media (max-width: 527px) {
    footer .footer-social {
        margin-left: 20%;
        margin-right: 20%;
    }
}
@media (max-width: 539px) {
    .start-email-left {
        max-width: 140px;
    }
    .start-email-right {
        max-width: 108px;
        font-size: small;
    }
    .created-right-block {
        min-width: 179px;
    }
    header {
        margin-top: 0;
        @include mobile(flex, center, wrap);
    }
    .logo {
        width: 100%;
        padding-right: 50%;
        padding-left: 50%;
        margin-bottom: 50px;
        background: #ffffff;
        padding-top: 50px;
        z-index: 1;
    }
    .menu {
        display: none;
        animation: menu 1s forwards;
        z-index: -5;
    }
    @keyframes menu {
        0% {
            margin-top: -100%;
        }
        100% {
            margin-top: 1%;
        }
    }
    .logo:focus ~ .menu {
        display: block;
        margin-top: 0%;
    }
    .menu ul {
        flex-direction: column;
        width: 100%;
    }
    .menu a {
        padding: 0;
        margin-top: -50px;
    }
    .pay-left {
        margin-left: 10px;
        &-title {
            font-size: 40px;
        }
    }
    .created-left {
        margin-left: 20px;
    }
    .created-right {
        margin-left: 0;
    }
    .review-box {
        margin-left: 0px;
    }
    .join-title {
        text-align: left;
        font-size: 40px;
    }
    .custom-left-maintext {
        font-size: 40px;
        line-height: 52px;
    }
    .block-right {
        margin-left: 20px;
    }
    .example-box .example-right {
        margin-right: 0px; 
    }
    .block-right-maintext {
        font-size: 40px;
        line-height: 52px;
    }
    .start {
        margin-left: 20px;
    }
}